body {
    background: blanchedalmond;
}

/*комментарий*/
div {
    border: 1px solid;
    color: rgb(78%, 69%, 13%, 1);
    font-size: 30px;
    text-align: center;
    line-height: 125%;
    padding-top: 0px;
}
.div1 {
    font-size: 20px;
    border: 2px solid blue;
    text-align: left;
}
.h0 {
    background: rgb(29%, 89%, 74%, 0.5);
}

.p0 {
    background: rgba(109, 189, 87, 0.45);
}
.ul0 {
    border: 2px dotted rgba(20, 44, 102, 1);
    background: rgba(255, 0, 0, 0.25);
    font-size: 60%;
    text-align: justify;
    line-height: 110%;
}
.li5 {
    text-decoration: line-through;
    text-decoration-style: wavy;
    color: rgb(78%, 69%, 13%, 1);
}
.ol0 {
    border-widht: 4px;
    border-style:double;
    border-color:rgba(147, 166, 186, 1);
    background: rgba(255, 0, 0, 0.30);
    font-weight: bold;
    font-size: 60%;
    text-align: justify;
    line-height: 20px;
}
.ol1 {
    border: 2px dashed rgba(89, 201, 139, 1);
    background: rgba(255, 0, 0, 0.35);
    font-weight: normal;
    font-size: 60%;
    text-align: justify;
    line-height: 20px;
}
.a0 {
    text-decoration: none;
}
.div2 {
    box-sizing: border-box;
    width:85px;
    height:85px;
    border: 5px groove rgba(173, 181, 96, 1);
    margin: 0 auto;
}
.div3, .div4 {
    border: 4px outset gold;
    margin: 0 auto;

}
span {
    border: 1px solid black;
    font-size: 30px;
}
.div3 {
    height: 500px;
}
.clearfix::after {
    clear:both;
    contenet:"";
    display: table;
}
.img1 {
    height: 235px;
    width: 298px;
    float: left;
    margin: 5px;
    border: 1px solid grey;
}
.div4 {

}
.span6, .span7,.span8,.span9,.span10 {
    display: inline-block;
    width: 200px;
    height: 32px;


}