@media (max-width: 1300px) {
    .main-block__image img {
        object-position: right;
    }
}

@media (max-width: 992px) {
    .header__menu {
        margin: 0 0 0 50px;
    }
    .main-block__image {
        opacity: 0.5;
    }
    .main-block__body {
        padding: 120px 0 191px 0;
    }
    .services__column {
        flex: 0 1 50%;
    }
}

@media (max-width: 767px) {
    .header__menu {
        margin: 0 0 0 80px;
    }
}

@media (max-width: 670px) {
    .services__body {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px -30px 0;
    }
    .services__column {
        padding: 0 15px;
    }
    .services__column:last-child {
        flex: 1 1 100%;
    }

}

@media (max-width: 479px) {
    .header__menu {
        margin: 0 0 0 20px;
    }
    .menu__link {
        font-size: 18px;
    }
    .header__container {
        min-height: 70px;
    }
    .main-block__title {
        font-size: 42px;
    }
    .main-block__text {
        color: #585757;
    }
    .main-block__button {
        flex: 1 1 100%;
    }
    .services__item {
        padding: 25px;
    }
}
@media (min-width: 479px) {
    .main-block__button:not(:last-child) {
        margin-right: 10px;
    }
}

