@charset "UTF-8";
/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul,
ol,
li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

html,
body {
  height: 100%;
  line-height: 208%;
  background: #FFFFFF;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif; }

/*---VARIABLE--------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*---TECHNICAL GRADES----------------------------------------------------------------------*/
._container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box; }

._ibg {
  position: relative; }

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover; }

/*------------------------------------------------------------------------------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column; }

/*---PAGE---------------------------------------------------------------------------------------*/
/*---HEADER---------------------------------------------------------------------------------------*/
.header {
  width: 100%;
  left: 0;
  top: 0;
  background-color: #05022D;
  z-index: 99; }

.header__container {
  display: flex;
  max-height: 100px; }

.header__logo {
  max-height: 70px;
  max-width: 70px;
  margin: 13px 305px 0 0; }

.header__content {
  display: flex;
  margin: 43px 0 0 0; }

.header__menu {
  color: inherit; }

.menu__item:not(:last-child) {
  margin: 0 12px 0 0; }
.menu__item:hover {
  text-decoration: underline; }

.menu__link {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 208%; }

.header__contact {
  margin: 0 20px 48px 40px; }

.contacts-header__item {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 135.714%;
  color: #FFFFFF; }
  .contacts-header__item:hover {
    text-decoration: underline; }

.social__item {
  max-height: 24px;
  max-width: 24px;
  padding-bottom: 37px; }
  .social__item:not(:last-child) {
    margin: 0 24px 0 0; }
  .social__item:hover {
    background-color: red; }

/*---MAIN---------------------------------------------------------------------------------------*/
.main-block {
  position: relative; }

.main-block__body {
  padding: 229px 0 218px 0;
  z-index: 3;
  position: relative;
  max-width: 535px; }

.main-block__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 122.222%;
  color: #FFFFFF; }
  .main-block__title:not(:last-child) {
    margin: 0 0 30px 0; }

.main-block__text {
  max-width: 448px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 180%;
  color: #FFFFFF; }

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -25px;
  left: 0; }

.main-block__image::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(44, 30, 110, 0.56);
  z-index: 2; }

/*---HEADER-BLOCK---------------------------------------------------------------------------------------*/
.header-block__title {
  margin: 140px 0 44px 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  text-align: center; }

/*---EXPECT---------------------------------------------------------------------------------------*/
.expect__body {
  padding: 15px 0 0 0; }

.expect__column {
  display: grid;
  grid-template-columns: 50% 50%; }

.expect__image {
  justify-self: end;
  margin: 37px 80px 113px 0; }

.expect__items {
  margin: 67px 0 0 0; }

.expect__item span {
  display: inline-block;
  vertical-align: middle;
  max-width: 455px;
  max-height: 55px;
  padding: 0 0 0 55px; }
.expect__item:not(:last-child) {
  margin: 0 0 24px 0; }

.expect__item::before {
  content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='25' height='32' viewBox='0 0 25 32'><path d='M23.4881 0.00104749C23.1066 0.0196984 22.7445 0.281301 22.4785 0.730432L7.36362 25.5295L2.528 17.5957C2.39269 17.3645 2.23061 17.1799 2.05127 17.0527C1.87193 16.9255 1.67892 16.8583 1.48356 16.8551C1.28819 16.8518 1.09439 16.9125 0.91351 17.0337C0.732628 17.1548 0.5683 17.334 0.430148 17.5607C0.291996 17.7873 0.182799 18.057 0.10895 18.3537C0.0351025 18.6505 -0.00191166 18.9685 7.60101e-05 19.289C0.00206368 19.6095 0.0430128 19.9262 0.120526 20.2205C0.198039 20.5147 0.310557 20.7806 0.451491 21.0026L6.32537 30.6399C6.60077 31.0916 6.97422 31.3453 7.36362 31.3453C7.75302 31.3453 8.12647 31.0916 8.40187 30.6399L24.555 4.13737C24.7672 3.79895 24.9122 3.36324 24.9708 2.88735C25.0295 2.41146 24.9992 1.91759 24.8839 1.47046C24.7685 1.02332 24.5736 0.64378 24.3245 0.381576C24.0754 0.119372 23.7839 -0.0132648 23.4881 0.00104749Z' fill='black'/></svg>");
  vertical-align: middle; }

/*---cooperating---------------------------------------------------------------------------------------*/
.cooperating__body {
  margin: 0 0 140px 0; }

.cooperating__list {
  display: flex; }

.cooperating__items {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 50%; }
  .cooperating__items:not(:last-child) {
    margin: 0 50px 0 0; }

.item-cooperating {
  display: flex;
  flex: 0 1 auto; }
  .item-cooperating:not(:last-child) {
    margin: 0 0 50px 0; }

.item-cooperating__numb {
  text-align: left;
  font-family: 'Montserrat', serif;
  font-size: 60px;
  line-height: 75%;
  font-weight: 800;
  color: #FFFFFF;
  -webkit-text-stroke: 3px #B798E0;
  min-width: 41px; }

.item-cooperating__text {
  margin: 0 0 0 38px; }

/*---improve---------------------------------------------------------------------------------------*/
.main-improve {
  position: relative; }

.improve__container {
  display: flex;
  justify-content: center;
  padding: 133px 0 133px 0; }

.improve__body {
  margin: 0 15px;
  padding: 60px 0 0 80px;
  position: relative;
  width: 800px;
  height: 500px;
  background: #100A33;
  opacity: 0.7;
  border-radius: 8px;
  z-index: 2; }

.improve__title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 180%;
  color: #FFFFFF; }
  .improve__title:not(:last-child) {
    margin: 0 0 60px 0; }

.improve__texts {
  max-width: 640px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 179%;
  color: #FFFFFF;
  z-index: 4; }

.improve-text:not(:last-child) {
  margin: 0 0 30px 0; }

.improve__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .improve__image::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(44, 30, 110, 0.56);
    z-index: 1; }

/*---services---------------------------------------------------------------------------------------*/
.services__list {
  margin: 142px 0 0 0;
  display: flex; }

.services__item {
  flex: 0 1 25%; }

.item-services__button {
  display: block;
  margin: 32px 0 32px 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 208%;
  color: #000000;
  background: rgba(183, 152, 224, 0.51);
  box-shadow: 4px 2px 10px rgba(183, 152, 224, 0.5);
  border-radius: 8px; }
  .item-services__button:hover {
    background: #A551C1;
    transition-duration: 0.3s; }
  .item-services__button:active {
    transition-duration: 0.3s;
    box-shadow: 2px 1px 5px rgba(183, 152, 224, 0.5); }

.item-services__button-text {
  display: flex;
  text-align: center;
  align-items: center;
  max-width: 220px;
  min-height: 48px;
  justify-content: center; }

/*---working---------------------------------------------------------------------------------------*/
.working__column {
  margin: 112px 0 0 0;
  display: flex; }

.working__video {
  flex: 0 1 42%;
  position: relative; }
  .working__video:before {
    content: "";
    display: block;
    padding-top: 100%; }
  .working__video:after {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/working/phone.png) no-repeat center center;
    background-size: contain;
    pointer-events: none; }

.video-iframe {
  position: absolute;
  top: 7.8%;
  left: 2.8%;
  width: 94.4%;
  height: 84.4%;
  z-index: 2;
  border-radius: 12%; }

iframe {
  border: 0; }

.working__items {
  margin: 0 0 0 85px;
  flex: 0 1 58%;
  display: flex; }

.working__item {
  display: flex; }

.item-working__right-text {
  text-align: right; }

.item-working__text {
  min-height: 50px;
  max-width: 160px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 153%; }
  .item-working__text:not(:last-child) {
    margin: 0 0 115px 0; }

.item-working__img {
  margin: 0 60px 0 56px; }

.item-working__left-text {
  text-align: left;
  margin: 70px 0 0 0; }

/*---online---------------------------------------------------------------------------------------*/
.online__body {
  margin: 275px 0 0 0;
  background: #FCFAFE;
  box-shadow: 0 10px 20px 10px rgba(183, 152, 224, 0.5);
  border-radius: 8px; }

.online__header > .header-block__title {
  margin: 0;
  padding: 80px 0 0 0; }

.item-online__top-item {
  display: flex;
  justify-content: space-around; }
  .item-online__top-item .item-online__content {
    max-width: 148px; }
  .item-online__top-item:not(:last-child) {
    margin: 56px 0 56px 0; }

.item-online__content {
  align-items: center; }

.item-online__icon {
  display: flex;
  justify-content: center;
  min-height: 62px; }

.item-online__text {
  margin: 54px 0 27px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #000000; }

.item-online__bot-item {
  display: flex;
  justify-content: space-around; }
  .item-online__bot-item .item-online__content:first-child {
    margin: 0 0 0 30px; }

/*---products---------------------------------------------------------------------------------------*/
.products__header {
  margin: 0 0 65px 0; }

.item-products__top-item {
  display: flex;
  justify-content: space-between; }

.item-products__content:not(:last-child) {
  margin: 0 0 60px 0; }

.item-products__icon {
  border-radius: 8px; }

.item-products__text {
  margin: 30px 0 0 0;
  max-width: 220px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px; }

.item-products__bot-item {
  display: flex;
  justify-content: space-between; }

/*---contact---------------------------------------------------------------------------------------*/
.contacts {
  margin: 180px 0 0 0;
  background: linear-gradient(139.22deg, #DDCAF7 37.6%, #C2F4F4 81.1%); }

.contacts__container {
  padding: 140px 0 0 0; }

.contacts__header .header-block__title {
  margin: 0 0 0 0; }

.contacts__column {
  display: flex;
  background: url("../img/contacts/bgcontacts.png") no-repeat top 100px right; }

.contacts__item {
  flex-wrap: wrap; }

.header-block__sub-title {
  max-width: 540px;
  margin: 60px 0 80px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #000000; }

.contacts__list {
  margin: 0 0 102px 0; }

.list-contacts__item {
  max-width: 375px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #000000; }
  .list-contacts__item:not(:last-child) {
    margin: 0 0 30px 0; }
  .list-contacts__item img {
    vertical-align: baseline; }

.list-contacts__items_link {
  margin: 19px 0 0 59px; }

.list-contacts__item_img {
  margin: 0 31px 0 0; }

.list-contacts__item_link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #000000; }

/*---footer---------------------------------------------------------------------------------------*/
.footer__main {
  background-color: #6C63FF; }

.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.footer__logo {
  margin: 0 100px 0 0; }

.copyright {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 208%;
  color: #FFFFFF; }
  .copyright img {
    vertical-align: middle; }

.copy__text {
  margin: 0 17px 0 0; }

.copy__link {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 208%;
  color: #FFFFFF; }

/*---request-form---------------------------------------------------------------------------------------*/
.request-form__item {
  display: block;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  color: #000000;
  padding: 0 0 11px 15px;
  border: none;
  border-bottom: 1px solid #6C63FF;
  background-color: transparent;
  outline: none; }
  .request-form__item:not(:last-child) {
    margin: 0 0 30px 0; }
  .request-form__item:last-child {
    margin: 75px 0 0 0; }

input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  color: #000000; }

.request-form__button {
  display: flex;
  justify-content: center; }

.request-form__button_link {
  display: flex;
  margin: 74px 0;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: linear-gradient(134.36deg, #95E1E1 29.95%, #B798E0 74.72%);
  border-radius: 50px;
  min-height: 50px;
  min-width: 300px;
  letter-spacing: 0.2px;
  font-weight: 700;
  line-height: calc(14/28*100%); }
  .request-form__button_link:hover {
    text-decoration: underline;
    background: linear-gradient(134.36deg, #A551C1 29.95%, #95E1E1 74.72%);
    transition-duration: 0.3s; }

/*# sourceMappingURL=main.css.map */
