*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserra", sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    color: #444444;
    text-align: center;
    text-transform: uppercase;
}

h2 > span {
    position: relative;
}

h2 > span::after{
    content: "";
    height: 2px;
    background: #444444;
    width: 40%;
    margin-left: -20%;
    left: 50%;
    top:120%;
    position: absolute;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

.services, .works, .team, .blog, .contact, footer {
    padding: 60px 0;
}

.main-wrapper {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1170px;
}

header{
    height: 65px;
    background: #161c35;
    position: sticky;
    top: 0;
    z-index: 10;
}
/*добавил > */
header > .main-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

/*.main-menu > ul > li {
    display: inline-block;
}*/

/*.main-menu > ul > li > a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    margin-right: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    position: relative;
}*/

/*добавил*/.main-menu {
    margin-left: auto;
}
/*добавил*/.main-menu > ul > li {
    display: inline-block;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}
/*добавил*/.main-menu > ul > li > a {
    text-decoration: none;
    color: inherit;
}
/*было .main-menu > ul > li:last-child > a */
.main-menu > ul > li:last-child {
    margin-right: 0;
}
/*было .main-menu > ul > li > a::after */
.main-menu > ul > li::after {
    content: "";
    width: 10%;
    height: 3px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #00D5C3;
    top: 25px;
    transition-duration: 0.3s;
    opacity: 0;
}
/*было .main-menu > ul > li > a:hover::after */
.main-menu > ul > li:hover::after {
    width: 100%;
    opacity: 1;
}
/*добавил no-repeat перед fixed "-" перед 50px*/
.main-board {
    height: 500px;
    background: url(../img/bg.jpg) no-repeat fixed;
    background-size: cover;
    background-position: 50% -50px;
    position: relative;
}
/*добавил z-index: 1 заменил background на background-color*/
.main-board::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(33, 42, 73, 0.6);
    z-index: 1;
}
/*было .main-board .main-wrapper без знака > */
.main-board > .main-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 2;
}

.main-board__left-block {
    width: 50%;
}
/*было .main-board .main-wrapper > img */
.main-board__image {
  margin: auto;
}
/*было .main-board__left-block > h1 */
.main-board h1 {
    color: #ffffff;
    padding: 25px 0 0 30px;
    margin-bottom: 35px;
    position: relative;
}
/*.main-board__left-block h1::before */
.main-board h1::before  {
    content: "";
    width: 115px;
    height: 5px;
    position: absolute;
    left: 0;
    top: 0;
    background: #00D5C3;
}
/*.main-board__left-block h1::after */
.main-board h1::after {
    content: "";
    height: 115px;
    width: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background: #00D5C3;
}
/* как я придумал сам .main-board > .main-wrapper > .main-board__left-block > div*/
.main-board__left-block > div:first-of-type{
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 45px;
}
/* как я придумал сам .main-board__left-block > div*/
.main-board__left-block > div:last-of-type{
    display: flex;
}
/*было.main-board__left-block > div > .main-board__button-link:last-child */
.main-board__button-link:first-of-type {
    margin-left: 20px;
}

.main-board__button-link {
    display: flex;
    align-items: center;
    width: 165px;
    height: 50px;
    border: 1px solid #00D5C3;
    border-radius: 0 5px 0 5px;
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    transition-duration: 0.3s;
}

.main-board__button-link > i {
    margin-left: 20px;
    margin-right: 15px;
    font-size: 30px;
    color: #00D5C3;
    width: 26px;
    transition-duration: 0.3s;
}

.main-board__button-link_bold {
   font-size: 14px;
    font-weight: 600;
}

.main-board__button-link:hover {
    background: #00D5C3;
}

.main-board__button-link:hover > i {
    color: #ffffff;
}

.services__block-item {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.services__item {
    padding: 30px;
    flex: 0 0 32%;
    text-align: center;
    transition-duration: 0.3s;
    border-radius: 5px;
}

.services__item:hover {
    box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.2);
}

.box-icon {
    border: 1px solid #161C35;
    border-radius: 50%;
    height: 108px;
    line-height: 108px;
    text-align: center;
    width: 108px;
    margin: 0 auto;
    transition-duration: 0.3s;
}

.box-icon > i {
    font-size: 54px;
    color: #161C35;
    line-height: 108px;
    transition-duration: 0.3s;
}

.services__item:hover .box-icon {
    background: #161C35;
}

.services__item:hover .box-icon > i {
    color: #FFFFFF;
}

.services__item > h3 {
    margin:23px 0;
    color: #161C35;
    text-align: center;
}

.services__item > p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    margin-bottom: 20px;
    color: #666666;
}

.services__item > a {
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    color: #161C35;
    font-size: 18px;
    border-radius: 0 5px 0 5px;
    border: 1px solid #161C35;
    text-decoration: none;
    transition-duration: 0.3s;
}

.services__item > a:hover {
    background: #161C35;
    color: #FFFFFF;
}

.works {
    background: url(../img/banner-bg.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

.works::after, .blog::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(33, 42, 73, 0.6);
    z-index: 1;
}

.works > .main-wrapper, .blog > .main-wrapper {
    position: relative;
    z-index: 2;
}

.works > .main-wrapper > div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.works h2, .blog h2{
    color: #FFFFFF;
}

.works h2 > span::after, .blog h2 > span::after {
    background: #FFFFFF;
}

.works__container {
    flex: 0 0 60%;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    color: #FFFFFF;
}

.works__container > h3 {
    margin-bottom: 30px;
}

.works__container > ul {
    margin-top: 20px;
    list-style: none;
}

.works__container > ul > li {
    padding-left: 22px;
    position: relative;
    margin-bottom: 15px;
}

.works__container > ul > li::before {
    content: '\f105';
    position: absolute;
    left: 0;
    font-family: fontawesome;
    color: #00D5C3;
}

.team-container {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.team-container__item {
    flex: 0 0 255px;
    display: flex;
    flex-direction: column;
}

.team-container__item-footer {
    box-shadow: 4px 4px 18px 0px #cccccc;
    padding: 20px;
}

.team-container__item-footer > span, .team-container__item-footer > h3 {
    display: block;
}

.team-container__item-footer > h3 {
    color: #666666;
}

.team-container__item-footer > span {
    font-size: 12px;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.team-container__item > figure {
    position: relative;
    height: 260px;
    overflow: hidden;
}

.team-container__item > figure  > figcaption {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(22, 28, 53, 0);
    display: flex;
    justify-content: center;
    transition-duration: 0.1s;
}

.team-container__item > figure  > figcaption > a {
    text-decoration: none;
    width: 30px;
    height: 30px;
    border: 1px solid #FFFFFF;
    margin: 10px;
    margin-top: auto;
    margin-bottom: 20px;
    color: white;
    line-height: 30px;
    text-align: center;
    transition-duration: 0.5s;
}

.team-container__item > figure  > figcaption > a:nth-child(1) {
    transform: translateY(50px);
}

.team-container__item > figure  > figcaption > a:nth-child(2) {
    transform: translateY(90px);
}

.team-container__item > figure  > figcaption > a:nth-child(3) {
    transform: translateY(130px);
}

.team-container__item > figure  > figcaption > a:hover {
    color: #00D5C3;
    background: white;
}

.team-container__item > figure > img {
    transition-duration: 1s;
}

.team-container__item > figure:hover > img {
    transform: scale3d(1.1, 1.1, 1);
}

.team-container__item > figure:hover > figcaption {
    background: rgba(22, 28, 53, 0.7);
}

.team-container__item > figure:hover > figcaption > a {
    transform: translateY(0px);
}

.blog {
    background: url(../img/blog-bg.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.blog-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-container__item {
    height: 275px;
    flex: 0 0 49%;
    display: flex;
    background: #FFFFFF;
    margin-bottom: 22px;
    text-decoration: none;
}

.block-image1 {
    background: url(../img/6-850x850.jpg);
}

.block-image2 {
    background: url(../img/5-850x850.jpg);
}

.block-image3 {
    background: url(../img/2-850x850.jpg);
}

.block-image4 {
    background: url(../img/1-850x850.jpg);
}

.blog-container__image {
    flex: 0 0  50%;
    height: 100%;
    transition-duration: 0.3s;
    position: relative;
    background-position: center center;
    background-size: cover;
    filter: grayscale(0.9);
}

.blog-container__item-text-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.blog-container__item-text-container > span {
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333;
    text-align: center;
}

.blog-container__image::after {
    position: absolute;
    display: inline-block;
    border-top: 15px solid transparent;
    border-right: 15px solid #eee;
    border-bottom: 15px solid transparent;
    border-right-color: #fff;
    right: 0;
    margin-top: -15px;
    top: 50%;
    content: '';
}

.blog-container__item-text-container > p {
    font-size: 18px;
    letter-spacing: 1px;
    color: #161C35;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 24px;
}

.blog-container__item:hover > .blog-container__image {
    filter: grayscale(0)
}

.blog-container__item:hover > .blog-container__item-text-container > p {
    text-decoration: underline;
}

.button {
    padding: 10px 30px;
    border: 1px solid #00D5C3;
    font-size: 18px;
    border-radius: 0 5px 0 5px;
    display: inline-block;
    color: #00D5C3;
    text-decoration: none;
    transition-duration: 0.3s;
}

.button:hover {
    background: #00D5C3;
    color: #FFFFFF;
}

.blog > .main-wrapper {
    text-align: center;
}

.blog .button {
    margin-top: 30px;
}

.contact .map {
    margin-top: 30px;
}

.form {
    height: 200px;
    background: url(../img/bg.jpg) no-repeat fixed;
    background-position: 50% -50px;
    background-size: cover;
    position: relative;
}

.form::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(33, 42, 73, 0.6);
    z-index: 1;
}

.form > .main-wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.form input[type="email"]{
    background: transparent;
    border: 1px solid #00D5C3;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 10px;
    width: 450px;
}

.form input[type="email"]:focus {
    border: 1px solid #64ffed;
    outline: none;
}

.form button {
    background: #00D5C3;
    border: 1px solid #00D5C3;
    color: #FFFFFF;
    font-size: 22px;
    width: 100px;
    transition-duration: 0.3s;
}

.form button:hover {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #00D5C3;
    cursor: pointer;
}

.form__main-text {
    color: #00D5C3;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 20px;
}

.form__main-text > span {
    color: white;
    font-weight: 600;
}

.form form {
    display: flex;
    justify-content: center;
}

.form input::-webkit-input-placeholder {
    color: rgb(204, 204, 204);
}

footer > .main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-cont {
    margin: 20px 0;
}

.social-cont > a {
    color: #161C35;
    font-size: 16px;
    margin: 10px;
    text-decoration: none;
    position: relative;
    width: 20px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.3s;
}

.social-cont > a::before {
    content: '';
    width: 25px;
    height: 25px;
    border: 1px solid #161C35;
    transform: rotate(45deg);
    position: absolute;
    left: -3px;
    top: -5px;
    transition-duration: 0.3s;
    z-index: -1;
}

.social-cont > a:hover {
    color: #FFFFFF;
}

.social-cont > a:hover::before {
    background: #161C35;
}

@media (max-width: 1100px) {
    .team-container {
        overflow-y: scroll;
        padding-bottom: 20px;
    }

    .team-container__item {
        margin-right: 10px;
    }

    .team-container__item:last-of-type {
        margin-right: 0
    }

    .services__item {
        border: 1px solid #161c356e;
    }
}

@media (max-width: 980px) {
    .works > .main-wrapper > div {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .works__container {
        flex-grow: 1;
    }

    .blog-container__item-text-container {
        padding: 20px;
    }
}

@media (max-width: 920px) {
    .main-board__left-block {
        min-width: 450px;
        width: auto;
    }

    .main-board > .main-wrapper {
        flex-wrap: wrap;
    }

    .main-board {
        height: auto;
        padding: 30px 0;
        background: url(../img/bg.jpg) no-repeat;
    }

    .main-board__left-block > div:last-of-type {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .services__item {
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services__item > p {
        flex-shrink: 1;
        overflow: hidden;
    }

    .services, .works, .team, .blog, .contact, footer {
        padding: 30px 0;
    }
}

@media (max-width: 780px) {
    .services__block-item {
        flex-wrap: wrap;
        justify-content: center;
    }

    .services__item {
        flex-basis: 320px;
        margin: 10px;
    }

    .blog-container {
        flex-wrap: wrap;
    }

    .blog-container__item {
        flex-basis: 100%;
    }
}

@media  (max-width: 720px) {
    header > .main-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-menu {
        margin: 10px 0;
    }

    header {
        height: auto;
    }

    .logo {
        margin: 5px 0;
    }
}

@media (max-width: 640px)  {
    h1 {
        font-size: 36px;
        line-height: unset;
    }

    .main-board h1 {
        padding: 8px 0 0 18px;
    }

    .main-board h1::before  {
        width: 80px;
        height: 4px;
    }

    .main-board h1::after {
        height: 90px;
        width: 4px;
    }

    .main-board__left-block {
        min-width: unset;
    }
}

@media (max-width: 580px)  {
    .form input[type="email"] {
        width: 80%;
    }
}

@media (max-width: 510px) {
    .main-menu > ul > li {
        padding-bottom: 22px;
    }

    .main-menu > ul {
        text-align: center;
    }

    .main-menu {
        margin: 0;
    }

    .blog-container__item-text-container {
        padding: 5px;
    }
}

@media (max-width: 412px) {
    .main-board__image, .works img {
        width: 100%;
    }
}

@media (max-width: 375px) {
    .main-board__left-block > div:last-of-type {
        flex-wrap: wrap;

    }

    .main-board__button-link:first-of-type {
        margin-right: 0;
        margin-bottom: 10px;
    }
}


