.clearfix::after {
    clear: both;
    display: table;
    content: "";

}
header {
    background: coral;
    height: 30px;
}
main {
    background: bisque;
    border: 1px solid;
}
.left-menu {
    background: antiquewhite;
    float: left;
    height: 50px;
    width: 30%;
}
.content {
    background: azure;
    float: right;
    width: 70%;
}
footer {
    background: darkorange;
    height: 50px;
}
div {
    width: 50px;
    height: 50px;
    background: aqua;
    border: 1px solid;
}
section {
    border: 1px solid black;
    height: 500px;
   display: flex; /*CSS механизм который позволяет выравнивать по осям, контрольировать размер и порядок и т.д.*/
    flex-direction: row; /*изменяет направление главной оси, значение по умолчанию "row"*/
    justify-content: space-around; /*располагет елементы вдоль оси Х*/
    align-items: center; /*располагет елементы вдоль оси Y, одна строка align-content: space-around; - несколько строк*/
    flex-wrap: nowrap; /*свойство позволяет переносить элементы, значение по умолчанию "nowrap"*/

}
.div5 {
    align-self: auto;
    order: 0; /*свойство которое задает порядковый номер, по умолчание значение 0*/
    flex-grow: 2; /*при этом свойсте margin теряет смысл*/
    flex-shrink:0;/*свойство отвечающее за сжатие, 0= запрет на сжатие*/
    flex-basis: 100px; /*базовый размер контейнера*/
    flex:2 0 100px; /*свойство заменяющее flex-grow, flex-shrink, flex-basis*/
}
.div6 {
    margin-right: auto; /*свойство которое "съедает" свободное пространство*/
    margin-left: auto;
    margin-bot: auto;
    margin-top: auto;/*спросить чего не работает*/
    flex-grow: 5; /*при этом свойсте margin теряет смысл*/
}
.div7 {
    flex-shrink:1; /*свойство отвечающее за сжатие, 0= запрет на сжатие*/
}
table {
    border-collapse:collapse;
}
th {
    border: 1px solid;
}
td {
    border: 1px solid;
    padding: 10px;
    width: 300px;
    text-align: center;
}
li {
    color: chocolate;
}
.cont {
    border: 1px solid;
    width: 500px;
}
#block {
    background: honeydew;
}
.cont .list {
    background: darkturquoise;
}
