@charset "UTF-8";
/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  background: #fafafa;
  font-size: 14px;
  color: #252b42;
  font-weight: 500;
  font-family: Montserrat;
}

/* ---------------------------------------------------------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* ---TECHNICAL GRADES------------------------------------------------------------------------- */
._container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* ---HEADER------------------------------------------------------------------------- */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
}

.headr__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}

.header__menu {
  margin: 0 0 0 133px;
}

.menu {
  padding: 5px 0;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin: 0 21px 0 0;
}

.menu__link {
  color: #737373;
  line-height: calc(24/14*100%);
  font-weight: 600;
}

/* ---PAGE------------------------------------------------------------------------- */
.page {
  flex: 1 1 auto;
}

.page__services {
  position: relative;
  z-index: 2;
  margin: -111px 0 0 0;
}

/* ---MAIN-BLOCK------------------------------------------------------------------------- */
.main-block {
  position: relative;
}

.main-block__body {
  position: relative;
  padding: 184px 0 191px 0;
  z-index: 2;
  max-width: 400px;
}

.main-block__body > *:not(:last-child) {
  padding: 0 0 35px 0;
}

.main-block__title {
  font-size: 58px;
  line-height: calc(80/58*100%);
  font-weight: 800;
  letter-spacing: 0.2px;
}

.main-block__text {
  color: #737373;
  font-size: 20px;
  line-height: calc(30/20*100%);
}

.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}

.main-block__button {
  border-radius: 37px;
  display: flex;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2px;
  font-weight: 700;
  text-align: center;
  line-height: calc(14/28*100%);
  padding: 5px 36px;
  margin: 10px 0;
}

.main-block__button:not(:last-child) {
  margin-right: 10px;
}

.main-block__button_orange {
  background: #FF7B47;
  color: #FFFFFF;
}

.main-block__button_border {
  border: 1px solid #0D5C63;
  border-radius: 37px;
  color: #0D5C63;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* ---SERVICES------------------------------------------------------------------------- */
.services__column {
  flex: 0 1 33.333%;
  margin: 0 0 30px 0;
}

.services__item {
  background: #FFFFFF;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  padding: 35px;
  height: 100%;
}

.item-service__green {
  background-color: #0D5C63;
  color: #FFFFFF;
}

.item-service__green > .item-service-text {
  color: #FFFFFF;
}

.item-service > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.item-service__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 24px;
  line-height: calc(32/24*100%);
}

.item-service-text {
  color: #737373;
  line-height: calc(20/14*100%);
}

/* ---FOOTER------------------------------------------------------------------------- */
.footer {
  color: #0D5C63;
}

/*# sourceMappingURL=main.css.map */
