@charset "UTF-8";
/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  background: #fafafa;
  font-size: 14px;
  color: #252b42;
  font-weight: 500;
  font-family: Montserrat;
}

/* ---------------------------------------------------------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* ---TECHNICAL GRADES------------------------------------------------------------------------- */
._container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* ---HEADER------------------------------------------------------------------------- */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
}

.headr__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}

.header__menu {
  margin: 0 0 0 133px;
}

.menu {
  padding: 5px 0;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin: 0 21px 0 0;
}

.menu__link {
  color: #737373;
  line-height: calc(24/14*100%);
  /*calc(line-height/font-size*100%)*/
  font-weight: 600;
  &:hover {
    text-decoration: underline;
  }
}


/* ---PAGE------------------------------------------------------------------------- */
.page {
  flex: 1 1 auto;
}

.page__services {
  position: relative;
  z-index: 2;
  margin: -111px 0 0 0;
}
.page__advantages {
}

.page__practice {
}

.page__whoweare {
}

.page__clients:not(:last-child) {
  margin: 0 0 10px 0;
}

.page__subscribe {
}

.page__getintouch {
}

.page__contact {
}

/* ---HEADER-BLOCK------------------------------------------------------------------------- */

.header-block {
  text-align: center;
}

.header-block__title {
  line-height: calc(57/40*100%);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.2px;
}
.header-block__title:not(:last-child) {
  margin: 0 0 10px 0;
}

.header-block__sub-title {
  line-height: calc(24/16*100%);
  font-size: 16px;
  color: #737373;
  font-weight: 700;
  letter-spacing: 0.2px;
}

/* ---MAIN-BLOCK------------------------------------------------------------------------- */

.main-block {
  position: relative;
}

.main-block__body {
  position: relative;
  padding: 184px 0 191px 0;
  z-index: 2;
  max-width: 400px;
}

.main-block__body > *:not(:last-child) {
  padding: 0 0 35px 0;
}

.main-block__title {
  font-size: 58px;
  line-height: calc(80/58*100%);
  font-weight: 800;
  letter-spacing: 0.2px;
}

.main-block__text {
  color: #737373;
  font-size: 20px;
  line-height: calc(30/20*100%);
}

.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}

.main-block__button {
  border-radius: 37px;
  display: flex;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2px;
  font-weight: 700;
  text-align: center;
  line-height: calc(14/28*100%);
  padding: 5px 36px;
  margin: 10px 0;
  &:hover {
    background-color: #0D5C63;
    color: #FFFFFF;
    transition-duration: 0.3s;
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.main-block__button_orange {
  background: #FF7B47;
  color: #FFFFFF;
}
.main-block__button_orange:hover {
  background-color: #aa5330;
}

.main-block__button_border {
  border: 1px solid #0D5C63;
  border-radius: 37px;
  color: #0D5C63;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* ---SERVICES------------------------------------------------------------------------- */

.services__column {
  flex: 0 1 33.333%;
}

.services__item {
  background: #FFFFFF;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  padding: 35px;
  height: 100%;
}

.item-service__green {
  background-color: #0D5C63;
  color: #FFFFFF;
}

.item-service__green > .item-service__title {
  color: #FFFFFF;
}

.item-service__green > .item-service-text {
  color: #FFFFFF;
}

.item-service > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.item-service__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 24px;
  line-height: calc(24/16*100%);
  color: #252B42;
}

.item-service-text {
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: calc(20/14*100%);
  color: #737373;
  }

/* ---ADVANTAGES------------------------------------------------------------------------- */

.advantages {
  padding: 80px 0;
}

.advantages__conteiner {
}

.advantages__header {
  margin: 0 0 50px 0;
}


.advantages__body {
  display: flex;
  margin: 0 -15px -30px;
  flex-wrap: wrap;
}

.advantages__column {
  padding: 0 15px;
  margin: 0 0 30px 0;
  flex: 0 1 25%;
}

.advantages__items {
  text-align: center;
  padding: 30px;
  background: #FFFFFF;
  font-weight: 700;
}

.advantages__items > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.advantages__icon {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.advantages__value {
  font-size: 40px;
  line-height: calc(57/40*100%);
}

.advantages__text {
  letter-spacing: 0.1px;
  font-size: 16px;
  color: #737373;
  line-height: calc(24/16*100%);
}

/* ---PRACTICE------------------------------------------------------------------------- */

.practice {
  padding: 125px 0 80px 0;
}

.practice__container {
}

.practice__header {
  margin: 0 0 45px 0;
}

.practice__body {
  display: flex;
  margin: 0 -20px -30px 0;
  flex-wrap: wrap;
}

.practice__column {
  padding: 0 20px 30px;
  margin: 0 0 30px 0;
  flex: 0 1 25%;
}

.practice__item {

}

.item-practice {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item-practice__content {
  padding: 30px;
  text-align: left;
  flex: 1 1 auto;
}

.item-practice__link {
  color: inherit;
  display: inline-block;
}

.item-practice__link:hover {
  text-decoration: underline;
}

.item-practice__link:not(:last-child) {
  margin: 0 15px 0 0;
}

.item-practice__title {
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: calc(24/16*100%);
  font-weight: 700;

}

.item-practice__text {
  color: #737373;
  font-size: 14px;
  line-height: calc(20/14*100%);
  font-weight: 500;

}

.item-practice__img {
  display: block;
  padding: 0 0 calc(138/230*100%) 0;
  /*calc(h/w*100%) height and weight img*/
}

/* ---WHO-WE-ARE------------------------------------------------------------------------- */

.whoweare {
  background: #ffffff;
  padding: 80px 0 130px 0;
}

.whoweare__container {
}

.whoweare__header {
  margin: 0 0 100px 0;
}

.whoweare__body {
  display: flex;
  align-items: flex-start;
}

.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0 0 42.25% 0;
}
.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.whoweare__content {
  flex: 1 1 auto;
  padding: 20px 0 0 121px;
}

.whoweate__top{

}

.whoweate__top:not(:last-child) {
  margin: 0 0 50px 0;
}

.whoweare__title {
  font-weight: 800;
  font-size: 40px;
  color: #252B42;
  line-height: calc(57/40*100%);
  letter-spacing: 0.2px;
}

.whoweare__title:not(:last-child) {
  margin: 0 0 10px 0;
}

.whoweare__text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(20/14*100%);
  letter-spacing: 0.2px;
  color: #737373;
}

.whoweare__items {
  }

.whoweare__item {
  display: flex;
}

.item-whoweare {
}

.item-whoweare:not(:last-child){
  margin: 0 0 30px 0;
}

.item-whoweare__icon {
  flex: 0 0 32px;
}

.item-whoweare__body {
  flex: 1 1 auto;
  padding: 0 0 0 20px;
}

.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252B42;
}

.item-whoweare__title:not(:last-child){
  margin: 0 0 5px 0;
}

.item-whoweare__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
}

/* ---CLIENTS------------------------------------------------------------------------- */

.clients {
  padding: 50px 0;
}

.clients__conteiner {
}

.clients__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.clients__item {
  padding: 8px 15px;
  flex: 0 1 16.66667%;
  text-align: center;
  min-width: 140px;
}

.clients__item img {
  max-width: 100%;
}

/* ---SUBSCRIBE------------------------------------------------------------------------- */
.subscribe {
  position: relative;
  padding: 0 0 20px 0;
}
.subscribe::before {
  content: "";
  position: absolute;
  left:0;
  bottom: 0;
  width: 100%;
  height: 77px;
  background-color: #252B42;
}

.subscribe__conteiner {
}

.subscribe__body {
  margin: 0 30px;
  position: relative;
  z-index: 2;
  padding: 30px 50px;
  align-items: center;
  border-radius: 2px;
  background: #17213C;
}

.subscribe__title {
  color: #FFFFFF;
  font-size: 133%;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.subscribe__form {
  flex: 0 1 50%;
  display: flex;
  align-items: center;

}

.subscribe__input {
  width: 100%;
  flex: 1 1 auto;
  min-height: 58px;
  padding: 0 20px;
  color: #737373;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-right: 0;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
}
.subscribe__input:focus {
  color: #000000;
}

.subscribe__button {
  background: #FF7B47;
  border: 1px solid #E6E6E6;
  border-radius: 0 5px 5px 0;
  display: flex;
  min-height: 58px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;
  transition: all 0.3s ease 0s;
  padding: 0 22px;
}

.subscribe__button:hover {
  background-color: #aa5330;
  transition-duration: 0.3s;
}

/* ---GET-IN-TOUCH------------------------------------------------------------------------- */

.getintouch {
  padding: 80px 0 135px 0;
}

.getintouch__conteiner {
}

.getintouch__header {
  margin: 0 0 80px 0;
}

.getintouch__items {
  margin: 0 -15px;
}

.getintouch__item {
  flex: 0 1 33.33%
}

.item-getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  padding: 50px 15px;
}

.item-getintouch_active {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #252B42;
  color: #FFFFFF;
}

.item-getintouch_active  > *:not(:last-child) {
  margin: 0 0 15px 0;
}

.item-getintouch_active > .item-getintouch__button {
  padding: 10px 20px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  min-height: 44px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  color: #FFFFFF;
  transition-delay: 0.3s;
}

.item-getintouch > *:not(:last-child) {
  margin: 0 0 15px 0;
}

.item-getintouch__icon {
}

.item-getintouch__emails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-getintouch__email {
  color:inherit;
  font-weight: 600;
  line-height: 150%;
  font-size: 16px;
}
.item-getintouch__email:hover {
  text-decoration: underline;
}
.items-getintouch__lable {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252B42;
}

.item-getintouch__button {
  padding: 10px 20px;
  border: 1px solid #FF7B47;
  border-radius: 5px;
  min-height: 44px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  color: #FF7B47;
  transition-delay: 0.3s;
}

.item-getintouch__button:hover {
  background-color: #FF7B47;
  color: #FFFFFF;
}

/* ---CONTACT------------------------------------------------------------------------- */

.contact {
  background-color: #FFFFFF;
  padding: 42px 0;
}

.contact__conteiner {
  padding: 0 0 20px 0;
}

.contact__body {
}

.contact__content {
}

.contact__title {
  flex:0 1 50%;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #252B42;
}

.contact__title:not(:last-child) {
  margin: 0 0 10px 0;
}

.contact__text {
  font-weight: 500;
  font-size: 14px;
  line-height:  143%;
  letter-spacing: 0.2px;
  color: #737373;
}

.contact__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 40px;
  min-height: 58px;
  background: #FF7B47;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  transition: background-color 0.3s;
}
.contact__button:hover {
  background-color: #aa5330;

}

/* ---FOOTER------------------------------------------------------------------------- */
.footer {
  color: #0D5C63;
}

.footer__top {
  background: #17213C;
  padding: 35px 0;

}

.footer__main {

}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.footer__column {
  padding: 15px 15px;
  flex: 0 1 16.6667%;
}

.footer__column:last-child {
  flex: 0 1 33.334%;
}


.footer__lable {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  margin: 0 0 20px 0;
}


.footer__menu {
}

.menu-footer {
}



.menu-footer__list {
}

.menu-footer__item {

}
.menu-footer__item:not(:last-child) {
  margin: 0 0 10px 0;
}

.menu-footer__link {
  font-weight: 600;
  display: inline-block;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
.menu-footer__link:hover {
  text-decoration: underline;
}


.footer__contacts {

}

.contacts-footer {
  display: flex;
  flex-direction: column;
}

.contacts-footer__item {
  display: flex;
  align-items: center;
  min-height: 30px;
  padding: 0 0 0 34px;
  color: #FFFFFF;
  line-height: 142%;
}
.contacts-footer__item:hover {
  text-decoration: underline;
}

.contacts-footer__item:not(:last-child) {
  margin: 0 0 12px 0;
}

.contacts-footer__item_phone {
  background: url("../img/footer/icons/01.svg") 0 0 no-repeat;
}

.contacts-footer__item_map {
  background: url("../img/footer/icons/02.svg") 0 0 no-repeat;
}

.contacts-footer__item_email {
  background: url("../img/footer/icons/03.svg") 0 0 no-repeat;
}

.footer__bottom {
  padding: 25px 0 ;
}

.footer__container {

}

.footer_copy {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
}

.footer_social {

}

.social {
  display: flex;
  align-items: center;
}

.social_item {
}
.social_item:not(:last-child) {
  margin: 0 20px 0 0;
}


@import "media.scss";
/*# sourceMappingURL=main.css.map */
