@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}
@media (max-width: 1070px) {
  .subscribe__body {
    margin: 0 30px;
  }
}
@media (max-width: 1040px) {
  .practice__column {
    flex: 1 1 50%;
  }

  .whoweare__content {
    padding: 0 0 0 50px;
  }
}
@media (max-width: 1020px) {
  .advantages__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0 0 0 50px;
  }

  .main-block__image {
    opacity: 0.5;
  }

  .main-block__body {
    padding: 120px 0 191px 0;
  }

  .services__column {
    flex: 0 1 50%;
  }

  .services__column:not(:last-child) {
    margin: 0 0 30px 0;
  }

  .services__column:last-child {
    flex: 1 1 100%;
  }

  .advantages {
    padding: 50px 0;
  }

  .header-block {
    font-size: 35px;
  }

  .practice {
    padding: 40px 0 80px 0;
  }

  .whoweare {
    padding: 50px 0 50px 0;
  }

  .whoweare__header {
    margin: 0 0 30px 0;
  }

  .whoweare__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .whoweare__video {
    padding: 0 0 56.25% 0;
  }

  .whoweare__video:not(:last-child) {
    margin: 50px 0 0 0;
  }

  .whoweare__title {
    font-size: 24px;
  }

  .whoweare__content {
    padding: 0 0 0 0;
  }

  .getintouch__header {
    margin: 0 0 50px 0;
  }

  .getintouch {
    padding: 50px 0;
  }

  .item-getintouch_active {
    padding: 50px 15px;
  }

  .footer__column {
    flex: 0 1 25%;
  }

  .footer__column:not(:last-child) {
    flex: 0 1 100%;
  }
}
@media (min-width: 992px) {
  .getintouch__items {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .item-getintouch_active {
    padding: 80px 40px;
  }
}
@media (max-width: 810px) {
  .subscribe__title {
    margin: 0 0 20px 0;
  }

  .subscribe__body {
    margin: 0 -15px;
    padding: 15px 25px;
  }

  .subscribe__button {
    padding: 0 15px;
  }

  .subscribe__input {
    padding: 0 15px;
  }
}
@media (min-width: 810px) {
  .subscribe__body {
    display: flex;
    justify-content: space-between;
  }

  .subscribe__title {
    max-width: 266px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0 0 0 80px;
  }

  .advantages {
    padding: 50px 0;
  }

  .header-block {
    font-size: 30px;
  }

  .advantages__header {
    margin: 0 0 25px 0;
  }

  .practice {
    padding: 40px 0 40px 0;
  }

  .practice__header {
    padding: 0 0 25px 0;
  }

  .whoweare {
    padding: 0 0 30px 0;
  }

  .whoweare__video:not(:last-child) {
    margin: 30px 0 0 0;
  }

  .whoweate__top:not(:last-child) {
    margin: 0 0 30px 0;
  }

  .clients {
    padding: 30px 0;
  }

  .getintouch__header {
    margin: 0 0 30px 0;
  }

  .footer__container {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer_social {
    padding: 0 0 20px 0;
    justify-content: center;
  }
}
@media (min-width: 767px) {
  .contact__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contact__content {
    padding: 0 20px 0 0;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}
@media (max-width: 670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px 0;
  }

  .services__column {
    padding: 0 15px;
  }

  .advantages__column {
    flex: 0 1 100%;
  }

  .footer__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 560px) {
  .advantages__column {
    flex: 0 1 100%;
  }

  .whoweare__video:not(:last-child) {
    margin: 10px 0 0 0;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0 0 0 20px;
  }

  .menu__link {
    font-size: 18px;
  }

  .header__container {
    min-height: 70px;
  }

  .main-block__body {
    padding: 115px 0 160px 0;
  }

  .main-block__title {
    font-size: 42px;
  }

  .main-block__text {
    color: #585757;
  }

  .main-block__button {
    flex: 1 1 100%;
  }

  .services__item {
    padding: 25px;
  }
}
@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}
