@font-face {
    font-family: "Font Awesome 6 Brands";
    font-display: block;
    font-weight: 400;
    src: url("../webfonts/fa-brands-400.woff2") format("woff2"), url("../webfonts/fa-brands-400.ttf") format("truetype"); }

@font-face {
    font-family: "Font Awesome 6 Free";
    font-display: block;
    font-weight: 900;
    src: url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.ttf") format("truetype"); }

@font-face {
    font-family: "Font Awesome 6 Free";
    font-display: block;
    font-weight: 400;
    src: url("../webfonts/fa-regular-400.woff2") format("woff2"), url("../webfonts/fa-regular-400.ttf") format("truetype"); }
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-size: cover;
    background: url(../img/Background.jpg) no-repeat top center;
    overflow-x: hidden;
}

html > body {
    background-color: black;
}

header {
    margin-top: 50px;
    height: 1200px;
}

div input {
    background: transparent;
    border: none;
    outline: none;
}

.main-menu__button > a, .col-2 >a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
}

.main-menu__button > a {
    margin: 25px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
}
.col-2 >a {
    font-weight: bold;
    font-size: 24px;
    margin-left: 85px;
}

.a_main:hover {
    color: #FBD784;
}
.a_main__logo:hover {
    color: #FFFFFF;
}
.fa {
    color: #FFFFFF;
}
input{
    color: #FFFFFF;
}
input::placeholder {
    color: #FFFFFF;
}

.social {
    position: fixed;
    top: 300px;
    z-index: 99;
}
.social_text {
    writing-mode: vertical-rl;
    color: #FFFFFF;
    margin-left: 53px;
    font-size: 18px;
    margin-bottom: 22px;
    z-index: 1;
}

.main-wrapper{
    max-width: 1920px;
    text-align: left;
    position: relative;
}

.h1_text {
    font-size: 90px;
    color: #FFFFFF;
    margin-bottom: 0;

    font-weight: 600;
}
.h2_text {
    font-size: 75px;
    color: #FFFFFF;
    margin-bottom: 0;
    font-weight: lighter;
}

.h3_text {
    color: #FBD784;
    font-weight: bold;
    letter-spacing: 6px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}


.span_line {
    border: 1px solid #FBD784;
    background: #FBD784;
    height: 0;
    width: 70px;
}
.span_line, .h3_text {
    display: inline-block;
}
.span_line {
    margin-bottom: 3px;
    margin-right: 15px;
}
.main-wrapper {
    margin-top: 140px;
}

.main-wrapper_img1 {
    width: 480px;
    margin: 0 auto;
}
.main-wrapper__text {
    text-align: left;
    margin: 0 auto;
}
.h2_text0 {
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 0;
    font-weight: 500;
    text-align: left;
}

.h2_text1 {
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
}
.main-wrapper__text1 {
    color: #FFFFFF;
    padding-top: 20px;
}
.h3_text > a {
    text-decoration: none;
    color: #FBD784;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    letter-spacing: normal;
}
.h3_text > .h3_text__link:hover {
    color: #FFFFFF;}

.car1 {
    margin-top: 250px;
    margin-right: auto;
    margin-left: auto;
}
.h3_text__carusel {
    color: #FBD784;
    font-weight: bold;
    letter-spacing: 6px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}
.span_line__car, .span_line__car2 {
    border: 1px solid #FBD784;
    background: #FBD784;
    height: 0;
    width: 72px;
    margin-bottom: 3px;
    margin-right: 15px;
    margin-top: 7px;
}
.span_line__car2 {
    margin-left: 10px;
}
p {
    padding-top: 27px;
    padding-bottom: 39px;
}
.main-wrapper1 {
    margin-top: 229px;

}

.h2_text3 {
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 0;
    font-weight: 500;
    text-align: left;
}

.main-wrapper__text.col-md-6.col-sm-12 {
    padding-top: 116px;
}

footer {
    margin-top: 262px;
}

.button_footer1 {
    background: #FFA343;
    border: none;
    height: 69px;
    width: 239px;
    border-radius: 8px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
}
.h2_text2 {
    font-size: 48px;
    color: #FFFFFF;
    margin-bottom: 0;
    font-weight: 500;
}
.h4_text {
    color: #FFFFFF;
    font-weight: lighter;
    padding-top: 20px;
}
.span_line__footer {
    margin-top: 47px;
    border: .7px solid #FFFFFF;
    height: 0;

}
.h4_text2 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 36px;
    margin-left: 40px;
}

.footer__end {
    margin-top: 55px;
}
.footer_form {
    border-bottom: 1px solid #FFFFFF;
    width: 400px;
    border-right: 0;
    border-left: 0;
    margin-top: 50px;
}

.input_email {
    background: transparent;
    border: none;
    outline: none;
    color: #FFFFFF;
    margin-left: 10px;
    margin-top: 9px;
}

.input_email::placeholder {
    color: #2C2B2B;
    font-size: 15px;
}
.footer_form__button {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    background-color: #FFA343;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-bottom: 0;
    border-right: 0;
    padding-right: 0;
    margin-left: auto;
}

.fa-angle-right {
    color: black;
}
.footer_list__head, .footer_list__text {
    margin-top: 19px;
}

.footer_list__head > a {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: Bold;
    color: #FBD784;
}
.footer_list__text > a  {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
}
.footer_list__head > a:hover {
    color: #FFFFFF;
}
.footer_list__text > a:hover {
    color: #FBD784;
}
.footer_text__end1 {
    margin-top: 137px;
}
.footer_text__end > a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
}
.footer_text__end > a:hover {
    color: #FBD784;
}
.footer_social__end {
    margin-left: 50px;
    text-decoration: none;
    font-size: 27px;
}
.fa-facebook-f, .fa-twitter, .fa-instagram {
    color: #FFFFFF;
    z-index: 2;
}
.fa-facebook-f:hover {
    color: #3b5998;
}
.fa-twitter:hover {
    color: #00acee;
}
.fa-instagram:hover {
    color: deeppink;
 }
.footer_copyright {
    margin-top: 160px;
    text-align: center;
    font-size: 18px;
    color: rgb(100%, 100%, 100%, 0.5);;
}